# App
FLASK_ENV=staging        # staging | production
SECRET_KEY=

# Database
DATABASE_URL=postgresql+psycopg2://user:pass@host:5432/dbname

# Staging gate
STAGING_USER=
STAGING_PASS=

# S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=
